$primary--color-0: #fff;
$primary--color-1: #000;
$primary--color-2: #292929;
$primary--color-3: #333;

$minScreen-tag: max-width;
$minScreen-size: 1920px;

$mobile-tag: max-width;
$mobile-size: 1200px;


$resume-bg-color: #448aff;
$resume-logo-color: #E7E9E8;